@font-face {
    font-family: my font;
    src: url(DMSans-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: italic-font;
    src: url(DMSans-Italic-VariableFont_opsz,wght.ttf);
}

.container{
    font-size: 18px;
    font-family: my font;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 10fr;
    gap: 15px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 180px;
    padding-right: 180px;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

/* box1 */
.b1{
    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
    padding: 15px;
    grid-column: 1/2;
    grid-row: 1/6;
}

.b1 > img{
    width: 160px;
    height: 70px;
}

.b1 #italic{
    font-family: italic-font;
    color: hsl(256, 67%, 59%);
}


/* box2 */
.b2{
    color: white;
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    border-radius: 10px;
    grid-column: 2/4;
    grid-row: 1/5;
}

#color{
    color: hsl(39, 100%, 71%);
}

.b2 #italic{
    font-family: italic-font;
}

.b2 > img{
    width: 140px;
    height: 30px;
}


/* box3 */
.b3{
    background-color: hsl(254, 88%, 90%);
    border-radius: 10px;
    padding: 15px;
    grid-column: 4/5;
    grid-row: 1/8;
}

.b3 > img{
    width: 235px;
    height: 337px;
    object-fit: cover;
    object-position: 0 100%;
}


/* box4 */
.b4{
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 15px;
    grid-column: 1/2;
    grid-row: 6/11;
}

.b4 > img{
    width: 230px;
    height: 240px;
    padding-top: 20px;
}


/* box5 */
.b5{
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 5/8;
    background-color: white;
}

.b5 > img{
    width: 235px;
    height: 65px;
    object-fit: cover;
    object-position: 0 100%;
}


/* box6 */
.b6{
    background-color:  hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
    grid-column: 3/4;
    grid-row: 5/8;
}

.b6 > img{
    padding-top: 20px;
    padding-left: 10px;
    width: 210px;
    height: 95px;
    object-fit: cover;
    object-position: 90% 0;
}


/* box7 */
.b7{
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 8/11;
    background-color: white;

}

.b7 > img{
    width: 180px;
    height: 60px;
}



/* box8 */
.b8{
    color: white;
    background-color: hsl(256, 67%, 59%);
    padding: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 220px auto;
    grid-column: 3/5;
    grid-row: 8/11;
}

.b8 > img{
    width: 220px;
    height: 200px;
    grid-column: 1/2;
}

.b8 .t{
    grid-column: 2/3;
    text-align: center;
    padding-top: 30px;
}
