@font-face {
    font-family: my font;
    src: url(DMSans-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: italic-font;
    src: url(DMSans-Italic-VariableFont_opsz,wght.ttf);
}

body{
    font-size: 18px;
    font-family: my font;
}

/* box1 */
.b1{
    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
    padding: 15px;
}

.b1 > img{
    width: 140px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.b1 #italic{
    font-family: italic-font;
    color: hsl(256, 67%, 59%);
}


/* box2 */
.b2{
    color: white;
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    border-radius: 10px;
}

#color{
    color: hsl(39, 100%, 71%);
}

.b2 #italic{
    font-family: italic-font;
}

.b2 > img{
    width: 140px;
    height: 30px;
}


/* box3 */
.b3{
    background-color: hsl(254, 88%, 90%);
    border-radius: 10px;
    padding: 15px;
}

.b3 > img{
    width: 240px;
    height: 337px;
    object-fit: cover;
    object-position: 0 100%;
}


/* box4 */
.b4{
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 15px;
}

.b4 > img{
    width: 180px;
    height: 200px;
}


/* box5 */
.b5{
    border-radius: 10px;
    padding: 15px;
}

.b5 > img{
    width: 210px;
    height: 60px;
    object-fit: cover;
    object-position: 0 100%;
}

