@font-face {
    font-family: my font;
    src: url(DMSans-DMSans-Medium.ttf);
}

@font-face {
    font-family: italic-font;
    src: url(DMSans-Italic-VariableFont_opsz,wght.ttf);
}

body{
    font-size: 18px;
    font-family: my font;
}



